@model IEnumerable<FirmaPersonal.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.JobName) - (сотрудников @item.Workers.Count())
        </li>
    }
</ul>
