@model IEnumerable<FirmaPersonal.Models.Worker>

<h2>Работники</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.LastName)
        </li>
    }
</ul>
